[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==3.2.11"
psycopg2-binary = "==2.8.6"
celery = {version = "==5.0", extras = ["redis"]}

[dev-packages]

[requires]
python_version = "3.9"
